*{
    margin: 0;
    background-color: pink;
}

.box{
    text-align: center;
    margin-top: 18%;
}

.heading{
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    color: brown;
    margin-bottom: 10px;
    letter-spacing: 0.5cm;
}

.text{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.input{
    height: 40px;
    width: 250px;
    background-color: white;
    border-radius: 5px;
    font-size: 1rem;
    border: 2px solid gray;
}

.button{
    background-color: brown;
    height: 40px;
    font-size: 1rem;
    color: white;
    border-radius: 5px;
}